###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.env
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

# Ignore IDE files
/.idea
/.vscode

# Ignore logs and cache
/var/logs/*
/var/cache/*
/var/sessions/*

# Ignore static files built by Webpack Encore (if used)
/public/build/
/node_modules/

# Ignore composer lock file if not committing it
/composer.lock

# Ignore local PHPStorm config
/.phpstorm.meta.php
